{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/homepage.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'logo.png' %}">
    
    <title>Coé - Pagina Inicial</title>
</head>
<body>
    <header>
         <img src="{% static 'logo.png' %}" alt=""><h1>Coé</h1>
    </header>

    <main>




        <section class="btns">
            <div class="btn_transporte"> <a href="{% url 'home:transporte'%}"><h1>Transporte</h1> </a></div>
            <div class="btn_noticias"> <a href=""> <h1>Noticias</h1></a></div>
            <div class="btn_noticias"> <a href=""> <h1>Lazer</h1></a></div>
            <div class="btn_noticias"> <a href=""> <h1>Shoppings</h1></a></div>
        </section>



    </main>

</body>
</html>