{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css'%}">
    <title>VDNP</title>
</head>
<body>
    <header>
        <h1>Vai descer no próximo</h1>
    </header>

    <form action="{% url 'home:onibus_especifico'%}"  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <select name="onibus_selecionado" id="">
        {%for linha in linhas%}
        <option value="{{linha.rota_numero}}">{{linha.rota_numero}} </option>
        {%endfor%}
    </select>
    <input type="submit">
    </form>
</body>
</html>