{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/onibus_especifico.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'logo.png' %}">
    <title>Coé - Linha {{linha.rota_numero}}</title>
</head>
<body>
    <header>
        <a class="btn_voltar" href="{% url 'home:transporte_onibus' %}"><h1>back</h1></a>
        <img src="{% static 'logo.png' %}" alt=""><h1>Coé</h1>
    </header>
    <main>
        <section class="cabecalho_linha">
          <div>  <h1 > Linha {{linha.rota_numero}} </h1>  <img src="{% static 'onibus.png' %}" alt="">
           {% if condicao == 1 %}
          <img class='logo_brt' src="{% static 'logo_brt.png' %}">
           {% elif condicao == 2 %} 
           <img src="{% static 'frescao.png' %}">
            {% endif %}</div> 
            <p>{{linha.rota_nome}} {% if circular == 1%} (Circular) {%endif%}
</p>
            <h3>Frequência: {{media_tempo}} minutos. </h3>
        </section>

            <h1 id="rota_h1" > Rota de {{linha.rota_numero}} em diração para {{ultimaparada.referencia_parada}}</h1>
        
<section class="rota">
      
        <div class="paradas">
            
            <ul class="paradas_ul">
                {%for parada in paradas%}
                <li class="parada">
                    <h1>{{parada.referencia_parada}}</h1>
                    {%if parada.integracao_trem == 1%}
                    <img class="logo_integracao" src="{% static 'logo_supervia.png' %}" alt=""> 
                    {%endif%}
                    {%if parada.integracao_metro == 1%}
                    <img class="logo_integracao" src="{% static 'logo_metro.png' %}" alt=""> 
                    {%endif%}
                </li>
                {%endfor%}
            </ul>
        </div>

           <div class="mapa">
                
            <div id="map">{{ html_map|safe }}</div>
            </div>
</section>


    </main>
</html>